{{ header }}{{ column_left }}
<div id="content">
	
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-blockonomics-account" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  
  <div class="container-fluid" id="blockonomics-page">
	  
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
	
    {% if success %}
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}

       {% if test_setup_error %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ test_setup_error }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
	
    {% if test_setup_success %}
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ test_setup_success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
	
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ url_action }}" method="post" enctype="multipart/form-data" id="form-blockonomics-account" class="form-horizontal">
          <input type="hidden" name="action" value="save">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-settings" data-toggle="tab">{{ tab_settings }}</a></li>
          </ul>
		  
          <div class="tab-content">
            <div class="tab-pane active" id="tab-settings">

              <br>
              <h3 class="col-sm-10 col-sm-offset-2">{{ text_general }}</h3>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-geo-zone">{{ entry_geo_zone }}</label>
                <div class="col-sm-10">
                  <div class="input-group"> <span class="input-group-addon"><i class="fa fa-globe fa-fw"></i></span>
                    <select name="payment_blockonomics_geo_zone_id" id="input-geo-zone" class="form-control">
                      <option value="0">{{ text_all_zones }}</option>
                      {% for geo_zone in geo_zones %}
                      {% if geo_zone['geo_zone_id'] == blockonomics_geo_zone_id %}
                      <option value="{{ geo_zone.geo_zone_id }}" selected="selected">{{ geo_zone.name }}</option>
                      {% else %}
                      <option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                <div class="col-sm-10">
                  <select name="payment_blockonomics_status" id="input-status" class="form-control">
                    {% if blockonomics_status %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                    {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
                <div class="col-sm-10">
                  <input type="text" name="payment_blockonomics_sort_order" value="{{ blockonomics_sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
                </div>
              </div>

              
              <br>
              <h3 class="col-sm-10 col-sm-offset-2">{{ text_statuses }}</h3>
              <div class="form-group">
                <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_paid_status }}">{{ entry_paid_status }}</span></label>
                <div class="col-sm-10">
                  <select name="payment_blockonomics_paid_status" class="form-control">
                    {% for order_status in order_statuses %}
                    {% if order_status['order_status_id'] == blockonomics_paid_status %}
                    <option value="{{ order_status['order_status_id'] }}" selected="selected">{{ order_status['name'] }}</option>
                    {% else %}
                    <option value="{{ order_status['order_status_id'] }}">{{ order_status['name'] }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_confirmed_status }}">{{ entry_confirmed_status }}</span></label>
                <div class="col-sm-10">
                  <select name="payment_blockonomics_confirmed_status" class="form-control">
                    {% for order_status in order_statuses %}
                    {% if order_status['order_status_id'] == blockonomics_confirmed_status %}
                    <option value="{{ order_status['order_status_id'] }}" selected="selected">{{ order_status['name'] }}</option>
                    {% else %}
                    <option value="{{ order_status['order_status_id'] }}">{{ order_status['name'] }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_complete_status }}">{{ entry_complete_status }}</span></label>
                <div class="col-sm-10">
                  <select name="payment_blockonomics_complete_status" class="form-control">
                    {% for order_status in order_statuses %}
                    {% if order_status['order_status_id'] == blockonomics_complete_status %}
                    <option value="{{ order_status['order_status_id'] }}" selected="selected">{{ order_status['name'] }}</option>
                    {% else %}
                    <option value="{{ order_status['order_status_id'] }}">{{ order_status['name'] }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>

              <br>
              <h3 class="col-sm-10 col-sm-offset-2">{{ text_advanced }}</h3>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-callback-secret">{{ entry_callback_secret }}</label>
                <div class="col-sm-7">
                  <input readonly type="text" name="payment_blockonomics_callback_secret" value="{{ blockonomics_callback_secret }}" placeholder="{{ entry_callback_secret }}" id="input-callback-secret" class="form-control" />
                </div>
                <div class="col-sm-3">
                  <a href="{{ url_gen_secret }}" data-toggle="tooltip" title="{{ text_gen_secret }}" class="btn
                  btn-primary">{{ text_gen_secret }}</a>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-notify-url"><span data-toggle="tooltip" title="{{ help_callback_url }}">{{ entry_callback_url }}</span></label>
                <div class="col-sm-10">
                  <div class="input-group"> <span class="input-group-addon"><i class="fa fa-link fa-fw"></i></span>
                    <input readonly type="url" name="payment_blockonomics_callback_url" id="input-notify-url" value="{{ blockonomics_callback_url }}" placeholder="{{ default_callback_url }}" class="form-control" />
                  </div>
                  {% if error_callback_url %}
                  <div class="text-danger">{{ error_callback_url }}</div>
                  {% endif %}
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-api-key"><span data-toggle="tooltip" title="{{ help_api_key }}">{{ entry_api_key }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="payment_blockonomics_api_key" id="input-api-key" value="{{ blockonomics_api_key }}" placeholder="{{ default_api_key }}" class="form-control" />
                  {% if error_api_key %}
                  <div class="text-danger">{{ error_api_key }}</div>
                  {% endif %}
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-callback-secret">{{ entry_test_setup }}</label>
                <div class="col-sm-3">
                  <a href="{{ url_test_setup }}" data-toggle="tooltip" title="{{ text_test_setup }}" class="btn
                  btn-primary">{{ text_test_setup }}</a>
                </div>
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<style>
  .btn-blockonomics {
    color: #fff;
    background-color: #002855;
    border-color: #000F3C;
  }

  .btn-blockonomics:hover, .btn-blockonomics:focus, .btn-blockonomics:active {
    color: #fff;
    background-color: #000F3C;
    border-color: #000023;
  }

  .bp-log-date {
    font-size: 12px;
  }
  .bp-log-level {
    font-weight: bold;
  }
  .bp-log-locale {
    font-weight: bold;
  }
  .bp-log-locale > span {
    color: #888;
    font-weight: normal;
    font-style: italic;
  }
  .bp-log-locale > span > span {
    color: #c55;
  }
  .bp-log-error > .bp-log-level > span {
    color: #a94442;
  }
  .bp-log-warn > .bp-log-level > span {
    color: #aa6708;
  }
  .bp-log-info > .bp-log-level > span {
    color: #31708f;
  }
  .bp-log-trace > .bp-log-level > span {
    color: #777;
  }
</style>
  <script type="text/javascript">
    function genSecret(){
      
    }
  </script>
{{ footer }}
