{{ header }}
<div class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-7 col-sm-offset-1' %}
    {% else %}
    {% set class = 'col-sm-8 col-sm-offset-2' %}
    {% endif %}

    <div id="content" class="{{ class }}">
      {{ content_top }}
      <h1>{{ heading_title }}</h1>

      {% if address_error == ""  %}
      <div id="payment-view">
        <div id="btc-href" data-href="{{ btc_href }}"></div>
        <div id="btc-address" data-address="{{ btc_address }}"></div>
        <div id="order-timestamp" data-timestamp="{{ orderTimestamp }}"></div>
        <div id="time_period" data-time_period="{{ time_period }}"></div>

        <div style="width: 100%;height: 7px;background: #ddd;margin: 20px 0;overflow: hidden;position: relative;">
          <div id="time-left" style="width: 100%;height: 7px;background: #666;left: 0;position: absolute;top: 0;"></div>
        </div>

        <div class="left big-text">
          <span>Order# {{ order_id }}</span>
        </div>
        <div class="right big-text">
          <span id="time-left-span"></span>
        </div>
        <div class="clear"></div>

        <h2>To pay, send exact amount of BTC to the given address</h2>

        <div id="address-div">
          <h4>Bitcoin address</h4>
          <a id="btc-address-a" href="{{ btc_href }}">
            <div id="qrcode"></div>
          </a>
          <h4>Click on the qr code above to open in wallet</h4>
        </div>

        <div id="amount-div">
          <h4>Amount</h4>
          <h5>{{ satoshi_amount}} BTC ⇌ {{ fiat_amount}} {{ currency_code}}</h5>
        </div>

        <div style="clear: both;"></div>

        <label id="btc-address-label">{{ btc_address }}</label>

        <div class="padding">
          <h3>Powered by blockonomics</h3>
        </div>
      </div>
      {% else %}
      <div id="address-error">
        <h3>Could not generate new bitcoin address.</h3>
        <i>Note to webmaster: {{ address_error }}. If issue persists, log a ticket on <a href="http://blockonomics.freshdesk.com/" target="_blank">http://blockonomics.freshdesk.com/</a></i>
      </div>
      {% endif %}

      {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>
<style>
#qrcode img {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  position: relative;
  text-align: center;	
}

#address-div, #amount-div {
  float: left;
  max-width: 250px;
}

#amount-div {
  float: left;
  margin-left: 5em;
}

#address-div h4, #amount-div h4 {
  color: #767676;
  font-size: 1em;
  font-weight: 800;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
}

#amount-div h5 {
  line-height: 1.1;
  font-size: 1.6rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 500;
}

#btc-address-label {
  text-align: center;
  width: 100%;
  border: 1px solid grey;
  box-shadow: none;
  background-color: unset;
  font-size: 1.2em;
  padding: 0.5em 2em 0.5em 2em;
  max-width: 500px;
  color: #666;
}

.red {
  color: #FF0000;
}

.left {
  float: left;
}

.right {
  float: right;
}

.big-text {
  font-size: 1.5em;
}

.clear {
  clear: both;
}

.padding {
  padding: 1em;
}

  @media (max-width: 601px) {
    #payment-view {
      text-align: center;
    }
    #address-div, #amount-div {
      float: none;
      max-width: none;
      margin-left: 0;
    }
  }

  @media (max-width: 430px) {
    #btc-address-label {
      font-size: 1em;
    }
  }
</style>
<script type="text/javascript">
var success_url = "{{ success_url }}";
var timeout_url = "{{ timeout_url  }}";
var websocket_url = "{{ websocket_url }}";

$( document ).ready(function() {
  var btcHrefDiv = document.getElementById("btc-href");
  var btcHref = btcHrefDiv.dataset.href;
  new QRCode(document.getElementById("qrcode"), {
    text: btcHref,
    width: 128,
    height: 128,
    correctLevel : QRCode.CorrectLevel.M
  });

  var btcAddressDiv = document.getElementById("btc-address");
  var btcAddress = btcAddressDiv.dataset.address;

  var timestampDiv = document.getElementById("order-timestamp");
  var orderTimestamp = timestampDiv.dataset.timestamp;

  var timeLeftSpan = document.getElementById("time-left-span");

  // Seconds now from epoch
  var d = new Date();
  var seconds = Math.round(d.getTime() / 1000);

  //Websocket
  var ws = new ReconnectingWebSocket(websocket_url + "/payment/" + btcAddress + "?timestamp=" + seconds);

  ws.onmessage = function (evt) {
    ws.close();
    window.location.href = success_url;
  }

  window.setInterval(tick, 1000);

  var timeLeftElem = document.getElementById("time-left");

  var time_period_div = document.getElementById("time_period");
  var blockonomics_time_period = time_period_div.dataset.time_period;
  var totalTime = blockonomics_time_period * 60;
  var timeLeft = totalTime;

  // On every tick, update progressbar width to be percentage of total time divided by time left
  function tick() {

    var timeUsed = new Date() / 1000 - orderTimestamp;
    timeLeft = Math.round(totalTime - timeUsed);

    var timeLeftPercentage = timeLeft / totalTime * 100;
    timeLeftElem.style.width = timeLeftPercentage + "%";

    timeLeftSpan.innerHTML = new Date(timeLeft * 1000).toISOString().substr(14, 5);

    if(timeLeft < 0) {
      window.location.href = timeout_url;
    }
  }
});

</script>
{{ footer }}
